:root {
    --bg-color: #121212;
    --nav-bg-color: #181818;
    --link-color: #00bfff;
    --link-state-color: #00bfff;
    --link-state-border-color: #00bfff;
    --pagination-link-color: #ddd;
    --pre-color: #fff;
    --pre-bg-color: #262930;

}

pre {
    background-color: var(--pre-bg-color) !important;
}

.equation {
    filter: invert();
    width: 100%;
    max-height: 30px;
}

.equation-tall {
    filter: invert();
    width: 100%;
    height: 60px;
}

code {
    font-family: Consolas, Verdana, sans-serif !important;
}
